body{
    background-color: rgb(169, 243, 255);
}

@font-face {
    font-family: "rmfRhf";
    src: url("font/BMJUA_ttf.ttf")
}

*{
    /*font-family: 'Gothic A1', sans-serif;*/
    font-family: "rmfRhf";
}

@font-face {
    font-family: "title";
    src: url("font/Cooper Black Regular.ttf")
}
