#result{
    display: none;
    background-color: rgb(255, 255, 255);
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.resultname{
    font-size: 26px;
}

@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.resultDesc{
    font-family: "SOYOMapleBoldTTF";
    font-size: 18px;
    padding-bottom: 30px;
}
